@bbh-body-bg: #f0f1e9;
.caption-gradient {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
}

.no-wrap {
    white-space: nowrap;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

a {
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

.lead {
    font-size: @font-size-h4;
    font-weight: 400;
}

//
body {
    background: @bbh-body-bg;
    -webkit-font-smoothing: antialiased;
}

//type
.list-heading {
    margin-top: 0;
    font-size: @font-size-h2;
}

//grid
[class*='col-'],
[class^='col-'] {
    &.col-center {
        margin-right: auto;
        margin-left: auto;
        float: none;
    }
}

.col-xs-4 {
    background-color: transparent;
    border: none;
}

.sec-row {
    padding-top: 15px;
    padding-bottom: 15px;
    &:first-of-type {
        padding-top: 20px;
    }
    &:nth-of-type(odd) {
        background-color: white;
    }
}

[class*='span-'],
[class^='span-'],
.card-300 {
    margin-bottom: 20px;
}

//index
.multi-item-carousel {
    .carousel-inner {
        >.item {
            transition: 500ms ease-in-out left;
        }
        .active {
            &.left {
                left: -33%;
                p {
                    opacity: 0;
                }
            }
            &.right {
                left: 33%;
                p {
                    opacity: 0;
                }
            }
        }
        .next {
            left: 33%;
        }
        .prev {
            left: -33%;
        }
        @media all and (transform-3d),
        (-webkit-transform-3d) {
            >.item {
                // use your favourite prefixer here
                transition: 500ms ease-in-out left;
                transition: 500ms ease-in-out all;
                backface-visibility: visible;
                transform: none!important;
            }
        }
    }
    .carouse-control {
        &.left,
        &.right {
            background-image: none;
        }
    }
}

.index-carousel {
    .col-xs-4 {
        padding-top: 0;
    }
    .item {
        img {
            width: 265px;
            height: 176px;
        }
    }
    p {
        padding-left: 5px;
        padding-left: 5px;
    }
    .lead {
        height: 3em;
        overflow: hidden;
    }
    span[class*='featuring-'],
    [class^='featuring-'] {
        padding: 2px 5px;
        position: relative;
        top: -15px;
        font-size: @font-size-small;
    }
    .featuring-forum {
        background-color: lighten(@BBH-forum, 20%);
    }
    .featuring-info {
        background-color: lighten(@BBH-info, 20%);
    }
    .featuring-shop {
        background-color: lighten(@BBH-shop, 20%);
    }
    .featuring-events {
        background-color: lighten(@BBH-events, 20%);
    }
}
.sec-hero {
    .card-profile {
        padding-top: 10px;
    }
}
.card-profile {
    border: 1px solid @alert-info;
    padding: 15px 15px 0;
    border-radius: @border-radius-small;
    .span-profile {
        border-bottom: 0;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .optional-info {
        margin-right: -15px;
        margin-left: -15px;
        margin-top: 20px;
        padding-bottom: 10px;
        min-height: 55px;
        p {
            margin-bottom: 0;
            padding-top: 10px;
            border-top: 1px solid @seperate-line-light;
        }
    }
    .form-group {
        margin-bottom: 25px;
        .form-control {
            background: @info-bg;
            border-color: transparent;
        }
    }
    .has-error {
        .form-control {
            border-color: #a94442;
            box-shadow: none;
            &:focus {
                box-shadow: none;
            }
        }
    }
    .btn-key,
    .btn-key-alt {
        font-size: @font-size-large;
    }
}
.span-login {
    margin-bottom: 15px;
    .cover-btn-holder {
        margin-top: 24px;
        .facebook-icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            margin-bottom: -2px;
            >img {
                display: block;
            }
        }
        .holder-inner {
            margin-top: 4px;
            font-size: @font-size-small;
            justify-content: space-between;
        }
    }
}

.detail-inner {
    border-left: 1px solid @seperate-line;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
    &:first-of-type {
        border-left: 0
    }
    span {
        display: block;
        text-align: center;
    }
}


.event-inner {
    .event-heading {
        font-size: @font-size-large;
        color: @BBH-info;
    }
    .event-list {
        list-style: none;
        padding-left: 0;
        >li {
            border-bottom: 1px solid lighten(@seperate-line, 10%);
            margin-bottom: 10px;
            padding-bottom: 10px;
            &:last-of-type {
                border-bottom: 0;
            }
            &:before {
                content: "。";
                color: @BBH-yellow;
            }
        }
    }
}



.sec-featuring {
    .sec-heading {
        color: @BBH-pink;
        position: relative;
        margin-left: 10px;
        &:first-letter {
            color: white;
        }
        .bordering {
            letter-spacing: .5em;
            position: relative;
            z-index: 10;
        }
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            z-index: 1;
        }
        &:before {
            background: @BBH-pink;
            top: -3px;
            left: -10px;
        }
        &:after {
            border: 1px solid @BBH-pink;
            top: 0;
            left: 27px;
        }
    }
}

.sec-feeds {
    .sec-heading {
        color: @BBH-feed;
        i {
            display: inline-block;
            margin-top: 10px;
            transform: scale(1.5);
            margin-right: 10px;
        }
    }
}

.feature-story {
    .media-heading {
        height: 3em;
        overflow: hidden;
    }
    .media-body {
        p {
            height: 3em;
            overflow: hidden;
            color: @gray-light;
        }
    }
    border-bottom: 1px solid @seperate-line-light;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
    &:last-of-type {
        margin-bottom: 0;
    }
}

.feature-story-img {
    position: relative;
    margin-bottom: 10px;
    height: 253px;
    background: @seperate-line-light;
    a {
        display: block;
    }
    .caption {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        font-size: @font-size-h4;
        padding: 50px 10px 10px;
        .caption-hover();
        .caption-gradient();
        >span {
            display: block;
            height: 3em;
            overflow: hidden;
        }
    }
    &:hover {
        .caption {
            padding-top: 150px;
        }
    }
    &.feature-sponsored {
        &:before {
            content: "贊助廣告";
            padding: 0 10px;
            display: block;
            border-radius: 20px;
            font-size: @font-size-small;
            color: white;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}

.sec-feeds {
    .card-span {
        margin-bottom: 0;
        .img-holder {
            >a {
                height: 254px;
                overflow: hidden;
                width: 100%;
                position: relative;
                img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
        .txt-holder {
            height: 4.8em;
            overflow: hidden;
        }
    }
}

//myHome
.personal-cover {
    .edit-mode {
        position: relative;
    }
}
.cover-holder {
    height: 300px;
    overflow: hidden;
    position: relative;
    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
    }

}
@media (max-width: 1335px) {
    .cover-holder {
        img {
            height: 100%;
            width: auto;
        }
    }
}


.cover-inner {
    position: relative;
    &:after {
        content: "";
        height: 120px;
        width: 100%;
        .caption-gradient();
        position: absolute;
        bottom: 0;
    }
    .edit-img {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
    }
    &:hover {
        .edit-img {
            opacity: 1;
        }
    }
    .profile-caption {
        //padding-bottom: 10px;
        width: 640px;
        color: white;
        position: absolute;
        z-index: 100;
        top: 174px;
        left: 220px;
        p:not(.h3) {
            height: 3em;
            overflow: hidden;
        }
        .h3 {
            font-size: @font-size-h3;
            .reduce();
        }
    }
}

.cover-nav {
    background: white;
    padding: 10px 0;
    position: relative;
}

.cover-profile {
    position: absolute;
    top: -230px;
    .span-profile {
        border-bottom: 0;
        align-items: flex-end;
    }
    .profile-avator-lg {
        border: 4px solid white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .edit-img {
            margin-top: 80px;
            color: white;
            opacity: 0;
        }
        &:hover {
            .edit-img {
                opacity: 1;
            }
        }
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .profile-caption {
        padding-bottom: 10px;
        width: 640px;
        color: white;
        p:not(.h3) {
            height: 3em;
            overflow: hidden;
        }
        .h3 {
            font-size: @font-size-h3;
            .reduce();
        }
    }
}

.cover-nav-inner {
    .cover-nav-holder {
        margin-left: 210px;
    }
    .cover-btn-holder {
        width: 300px;
        justify-content: space-evenly;
    }
}

.cover-nav-holder {
    flex-grow: 1;
}



.sub-nav {
    >li {
        padding: 0 10px;
        &:first-of-type {
            padding-left: 0;
        }
        font-size: 1.1em;
    }
}


//feed
.bbh-main-container {
    margin-top: 20px;
    .col-left {
        &.col-xs-7 {
            width: 200px;
        }
        &.col-xs-10 {
            width: 880px;
            padding-right: 20px;
        } //padding: 0;
    }
    .col-main-card {
        padding-left: 20px;
        padding-right: 20px;
        &.col-xs-7 {
            width: 680px;
        }
    }
    .col-right {
        &.col-xs-3 {
            padding: 0;
            width: 300px;
        }
    }
}

.col-left {
    ul {
        list-style: none;
        padding-left: 0;
    }
}

.span-profile {
    &.text-left {
        text-align: left;
    }
    .profile-avator {
        margin-bottom: 8px;
        margin-left: 8px;
    }
    .profile-caption {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.body-inner {
    .img-holder {
        margin: 0 -10px 10px;
    }
}

.post-detail {
    .dropdown-menu {
        margin-top: 10px;
        min-width: auto;
        &:before {
            left: 10px;
        }
    }
}

.card-input-full {
    .respond-inner {
        background: transparent;
        border-radius: 0;
    }
}

.respond-inner {
    position: relative;
    .btn {
        margin-right: 10px;
        /*&:last-of-type {
            margin-right: 0;
        }*/
    }
    .emoji-dropdown {
        position: absolute;
        right: -18px;
        bottom: -8px;
        a {
            font-size: @font-size-h3;
        }
    }
}

.tags-sapn {
    padding: 10px 0;
    .tag-kids {
        margin-right: 10px;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

.respond-drop {
    .dropdown-menu {
        margin-top: 10px;
        &:before {
            left: 40px;
        }
    }
    .emoji-menu {
        &:before {
            right: 50px;
            left: auto;
        }
    }
}

.emoji-dropdown {
    .dir-top {
        top: -200px;
        left: auto;
    }
}

.dropdown-menu-inner {
    padding: 10px;
}

.card-share {
    >.card-heading {
        border-bottom: 1px solid @seperate-line-light;
        padding: 0 10px 10px;
        margin-left: -10px;
        margin-right: -10px;
    }
    .quotes-inner {
        margin-left: 40px;
        margin-right: 10px;
        font-size: .8em;
        .body-inner {
            .img-holder {
                margin-left: 0;
                margin-right: 0;
            }
            .txt-holder {
                padding-left: 10px;
                border-left: 2px solid @seperate-line;
            }
        }
    }
}

.link-description {
    width: 90%;
    margin: 0 auto 15px;
    border: 1px solid @seperate-line-light;
    h5 {
        padding: 0 10px;
    }
}


//connection
.col-xs-10 {
    .card-span {
        min-height: 80vh;
    }
}

.card-span {
    .card-tab {
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .alert-info {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        .lead {
            font-size: @font-size-h1;
        }
    }
}

.card-border {
    height: 155px;
    .span-profile {
        text-align: left; //margin-bottom: 0;
        margin-top: 20px;
        padding-bottom: 0;
        border-bottom: 0;
        .profile-avator {
            margin-bottom: 0;
        }
    }
    .span-inner {
        flex: 1 1 0;
        padding-left: 15px;
        margin-bottom: 0;
    }
    .profile-caption {
        margin-bottom: 15px;
        padding-left: 0;
        padding-right: 0;
        max-height: 3em;
        overflow: hidden;
    }
}

.span-inner {
    flex: 1 1 0;
    padding-left: 15px;
    margin-bottom: 0;
    .cover-btn-holder {
        justify-content: space-between;
    }
    .more-option {
        font-size: @font-size-h3;
        margin-right: 10px;
    }
}


//event-list
.event-list {
    .media {
        border-bottom: 1px solid @seperate-line-light;
        padding-bottom: 10px;
        &:last-of-type {
            border-bottom: 0;
        }
    }
    .media-object {
        width: 260px;
        height: auto;
    }
    .media-body {
        padding-top: 10px;
    }
    .media-heading {
        margin-top: 10px;
        line-height: initial;
    }
}
.card-300 {
    .card-heading {
        .btn-key {
            align-self: flex-start;
        }
    }
}

.poll-span {
    .btn-holder {
        display: inline-block;
        width: 50%;
        font-size: 1.1em;
    }
    .btn-link {
        margin-bottom: 15px;
        &:last-of-type {
            margin-bottom: 0;
        }
        i {
            color: @notify-red;
        }
    }
    padding-bottom: 40px;
}

.card-span {
    .card-body {
        border-bottom: 1px solid @seperate-line-light;
        margin-top: 20px;
        .padding-fix();
        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            border-bottom: 0;
        }
        .post-detail {
            padding-bottom: 5px;
        }
    }
}

//photoupload
.upload-inner,
.upload-holder {
    position: relative;
}

.photo-upload {
    margin: 10px -10px 5px;
    padding: 10px 10px 5px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    .upload-inner {
        display: inline-block;
    } //border-bottom: 1px solid @seperate-line-light;
}


//left column
.col-left {
    .span-footer {
        ul {
            margin-bottom: 20px;
            li {
                margin-bottom: 5px;
                &:not(.list-heading) {
                    font-size: @font-size-small;
                    color: @gray-light;
                }
            }
        }
        a {
            color: @gray-light;
            &:hover,
            &:focus,
            &:active {
                color: @gray-base;
            }
        }
        .bbh-logo-footer {
            width: 150px;
            height: auto;
        }
    }
}


//right column
.card-profile {
    background: white;
    .card-title {
        margin-bottom: 20px;
    }
}

.card-title {
    font-weight: 500;
}

.carousel {
    .card-span {
        margin-bottom: 0;
    }
}

.tag-list {
    >li {
        padding-right: 8px;
    }
}

//modal-favorite-list
.favorit-list {
    .modal-footer {
        border-width: 0;
        text-align: center;
    }
}

.modal-header {
    .close {
        transform: scale(1.8);
    }
}

.avator-list {
    padding: 0 2px;
    .profile-avator {
        float: left;
        margin: 7px;
    }
}