body {
    margin: 0;
    padding: 0;
}
/*共同reset*/ 
div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,em,img,ol,ul,li,form,table,tr,th,td,footer,header,nav {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}
a, a:hover, a:active, a:visited {
    text-decoration:none;
    display:inline-block;
}

a img {
  border: none;
}

/*end*/

body.body-offcanvas{
font-family: "Noto Sans T Chinese", "微軟正黑體", "Microsoft Jhenghei", Arial;
background:url("../img/bg.jpg") 0 0 repeat;
}
.container{
    max-width:640px;
  width:100%;
    margin:0 auto;
    padding:60px 0 0px 0;
    text-align:center;
   }
  .container img{max-width:100%}
  @media (min-width: 768px){
    .container{
    padding:100px 0 30px 0;
   }
   h1 img{width:70%;margin-top:30px;}
   .btn_step img, .btn_teeter img{width:70%;}
   .index_h1 img{width:100%;}
  }







/*HEADER*/
.header{
  width:100%;
  position:fixed;z-index:99;
  background:url("../img/bg_navbar.jpg") 0 0 repeat;
  height:50px;
}
.header .logo{width:40%;height:40px;margin:5px 5px 0 10px;display:inline-block;}
.header .logo img{width:100%;max-width:160px;}

.header_menu{width:140px;float:right;margin:0 10px 0 0;}
.header_menu button {width:40px;height:40px;border:none;margin:4px 3px 0 0;}
.header_btn03{background:url("../img/mobile/header_menu.png") -80px 0 no-repeat;}
.header_btn04{background:url("../img/mobile/header_menu.png") -120px 0 no-repeat;}
.navbar-default .navbar-toggle {border:none;}
.header_btn04{width:40px;height:40px;border:none;margin:5px 10px 0 0;}

.side_menu{
 z-index:100;
background:#f6f4ef;}

@media (min-width: 768px){
  .header{border-bottom:none;}
.btn_close {
    display:none;
}
.header_btn02{display:none;}
.header_menu{width:50px}
.header .logo{width:160px;}
}

.menu li:hover, .menu li:active{background:url("../img/bg_navbar.jpg") 0 0 repeat;}
.navbar-nav>li>a{padding:7px 0;}
@media (min-width: 768px){
.side_menu{background:url("../img/bg_navbar.jpg") 0 0 repeat;border:none;border-radius:0;text-align:center;}
.container-fluid{text-align:center;}
.side_menu ul{margin:0 auto;width:1300px;}
.navbar-nav{float:none;}
.menu li a img{width:90%;}
}


/*FOOTER*/
footer{
  height:30px;
  background:#503623;
  text-align:center;
  color:#fff;
  font-size:4px;
  line-height:30px;
  font-weight:normal;
}




/*index*/
.img_teeter{
    animation:teeter .5s infinite alternate;
 }

@keyframes teeter {
  from{
  transform: translateY(2vh) ;
  }
  to{
  transform: translateY(1vh);
  }
} 
.img_teeter_slow{
    animation:teeter .8s infinite alternate;
 }

@keyframes teeter {
  from{
  transform: translateY(2vh) ;
  }
  to{
  transform: translateY(1vh);
  }
} 
.h1_index img{display:inline-block;}
.h1_index .icon_bullhorn{width:18%;margin:0 0 0 2%;}
.h1_index .h1_index_bg{width:75%;margin:0 10% 0 -5%;}
.btn_index_upload, .btn_index_test{display:inline-block;width:48%;margin:0 0 20px 0;}
.index_desc{position:relative;}
.icon_write{position:absolute;}

/*上傳*/
.content{width:90%;margin:10px auto 20px;background:#f1f1ed;padding:3%;text-align:center;}
.upload textarea{
box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.26);
background:#fff;
border:none;
border-radius:5px;
resize : none;
width:100%;
margin:10px 0;
height:60px;
font-size:18px;
line-height:22px;
}
input[type='checkbox']{
  box-shadow:none;
  margin-right:7px;
  width:18px;
  height:18px;
  vertical-align:top;

}
.upload .agreement{color:#702f00;font-size:15px;width:90%;display:inline-block;margin:3px 0 10px 0;text-align:left;}
.btn_pink{
  width:145px;
  height:40px;
  background:url("../img/mobile/bg_btn_pink.png") 0 0 no-repeat;
  margin:20px auto;
  color:#702f00;
  font-size:18px;
  line-height:40px;
  text-align:center;
}
/*上傳_燈箱*/
.modal img{width:100%}
.modal-footer{text-align:center;border:none;}
.close{opacity:1;}
.modal-header{border:none;}

/*vote_列表*/
.vote{width:90%;margin:0 auto;}
.container_vote{padding:50px 0 0 0;}
.vote_headder p{color:#702f00;font-size:15px;font-weight:normal;margin:10px 0;}
.vote h2{width:75%;margin:20px auto;}


/*獎品*/
.winner{text-align:center;width:90%;margin:0 auto;}
.winner h2{margin:30px 0 15px;color:#702f00;font-size:18px;}
.winner h3{margin:-15px 0 30px;color:#c83e55;font-size:15px;}
.winner_list{
  display:inline-block;
      width:240px;
    background:#f7f8f5;
    padding:0 15px 10px;
    margin:0 7px 20px;
    text-align:center;
    vertical-align:top;
}
.winner_list h3{margin:5px 0;color:#702f00;font-size:16px;}
.winner_list img{width:240px;height:240px;padding:15px 0 0 0;}
.winner_list h4{margin:5px 0;color:#702f00;font-size: 14px;}
.winner_list h5{margin:5px 0;color:#c83e55;font-size: 14px;}

/*投票_搜尋及排序*/

.search, .sequence{margin:0 0 10px 0;}

.search h3, .search a,  .search input, .sequence h3, .sequence select{
width:15%;display:inline-block;vertical-align: middle;}

.search h3, .sequence h3{color:#83502b;font-size:18px;margin:0;font-weight:normal;}
input, select, .search_border{
  display:inline-block;
width:70%;
background:#fff;
border:none;
border-radius:5px;
height:40px;
box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.26);
}

.search .search_border, .sequence select{
  display:inline-block;
  width:70%;
 }
.search input{width:80%;height:38px;box-shadow:none;background:transparent;vertical-align:top;border-radius:5px;}

/*投票_列表*/

  .vote_list{
    width:100%;
    background:#f7f8f5;
    margin:20px 0;
    text-align:left;
    padding:0 0 10px 0;
  }
.vote_list_serial{color:#a98971;font-size:14px;margin:0 0 0 10px;line-height:30px;}
.vote_list_photo, .vote_list_photo img{width:100%;height:auto;}

.vote_list_id{margin:10px 0;}
.vote_list_id>div{display:inline-block;vertical-align:top;}
.vote_list_idphoto{width:20%;height:auto;border-radius:50%;margin:0 2%; overflow: hidden;}
.vote_list_idphoto img{width:100%}
.vote_list_idinfo{width:70%;height:52px;margin:5px 0 0 0;}

.vote_list_name{
  text-indent:26px;
    color:#d46e00;
    font-size:18px;
    height:24px;
    line-height:24px;
     background:url("../img/icon_vote_name.png") 0 0 no-repeat;
  width:100%;
white-space:nowrap; 
overflow: hidden;
text-overflow:ellipsis;
word-wrap:break-word;
}

.vote_list_number{
  text-indent:26px;
    color:#e23955;
    font-size:18px;
    height:24px;
    line-height:24px;
     background:url("../img/icon_vote_number.png") 0 0 no-repeat;
  width:100%;
white-space:nowrap; 
overflow: hidden;
text-overflow:ellipsis;
word-wrap:break-word;
}

.vote_list_article{
  font-size:16px;
color:#702f00;
line-height:24px;
margin:15px;
text-align: justify;
text-justify:inter-ideograph;
}

.vote_list_btn{width:95%;margin:10px auto;text-align:center;}

.vote_list_btn a{width:20%;margin:0 1%;}

/*頁碼*/
.pagination{margin:0 0 30px;}
.pagination li{list-style:none;display:inline-block;margin:0 10px;}
.pagination li a{color:#702f00;font-size:18px;}
.pagination li.active a{color:#ff3683;font-size:22px;}
.pagination ul{display:inline-block;padding:0;text-align:center;vertical-align:middle;width:40%;height:30px;overflow:hidden;}
.btn_page{width:40px;height:40px;display:inline-block;margin:0 2px;vertical-align:middle;background:url("../img/mobile/btn_page.png") 0 0 no-repeat;
color:#702f00;line-height:40px;font-size:16px;font-weight:1000;  font-family: Arial Black;}
.btn_page:hover{color:#be6125;}
.pagination>a{max-width:12%;}
/*小測驗*/
.test_content{text-align:center;}
.test_content h3{
  width:80%;
margin:10px 10%;
}
.test_content>a{width:100px;height:100px;}
.test_answer01-1{background:url("../img/mobile/img_test_ans.png") 0 0 no-repeat;}
.test_answer01-2{background:url("../img/mobile/img_test_ans.png") -100px 0 no-repeat;}
.test_answer01-3{background:url("../img/mobile/img_test_ans.png") -200px 0 no-repeat;}
.test_answer01-4{background:url("../img/mobile/img_test_ans.png") -300px 0 no-repeat;}
.test_answer01-5{background:url("../img/mobile/img_test_ans.png") -400px 0 no-repeat;}
.test_answer01-6{background:url("../img/mobile/img_test_ans.png") -500px 0 no-repeat;}
.test_answer01-7{background:url("../img/mobile/img_test_ans.png") -600px 0 no-repeat;}
.test_answer01-8{background:url("../img/mobile/img_test_ans.png") -700px 0 no-repeat;}

.test_answer02-1{background:url("../img/mobile/img_test_ans.png") 0 -100px no-repeat;}
.test_answer02-2{background:url("../img/mobile/img_test_ans.png") -100px -100px no-repeat;}
.test_answer02-3{background:url("../img/mobile/img_test_ans.png") -200px -100px no-repeat;}
.test_answer02-4{background:url("../img/mobile/img_test_ans.png") -300px -100px no-repeat;}
.test_answer02-5{background:url("../img/mobile/img_test_ans.png") -400px -100px no-repeat;}
.test_answer02-6{background:url("../img/mobile/img_test_ans.png") -500px -100px no-repeat;}
.test_answer02-7{background:url("../img/mobile/img_test_ans.png") -600px -100px no-repeat;}
.test_answer02-8{background:url("../img/mobile/img_test_ans.png") -700px -100px no-repeat;}

.test_answer03-1{background:url("../img/mobile/img_test_ans.png") 0 -200px no-repeat;}
.test_answer03-2{background:url("../img/mobile/img_test_ans.png") -100px -200px no-repeat;}
.test_answer03-3{background:url("../img/mobile/img_test_ans.png") -200px -200px no-repeat;}
.test_answer03-4{background:url("../img/mobile/img_test_ans.png") -300px -200px no-repeat;}
.test_answer03-5{background:url("../img/mobile/img_test_ans.png") -400px -200px no-repeat;}
.test_answer03-6{background:url("../img/mobile/img_test_ans.png") -500px -200px no-repeat;}
.test_answer03-7{background:url("../img/mobile/img_test_ans.png") -600px -200px no-repeat;}
.test_answer03-8{background:url("../img/mobile/img_test_ans.png") -700px -200px no-repeat;}

#lightbox_share{text-align:center;}
#lightbox_share h3{width:90%;margin:20px 5%}
#lightbox_share h4{display:inline-block;width:15%;color:#702f00;font-size:16px;}
#lightbox_share  .option{margin:15px 0;}
#lightbox_share  .option input{padding:0 0 0 2%;}

.event01{margin:0 auto 20px;}
.event01,.event02{padding:20px 5% 0 5%;}
.event02 h2{margin:0 0 20px 0;}
.event01 a,.event02 a{font-size:16px;}
.event03 ol, .event04 ol, .event05 ol, .event06 ol{color:#702f00;font-size: 13px;text-align:left;width:90%;margin:10px 0 10px 8%;}
.event03 h2 img{width:30%;margin:10px auto;}
.event04 h2 img, .event05 h2 img{width:45%;margin:10px auto;}
.event06 h2 img{width:35%;margin:10px auto;}

/*新知文章*/
/*選單*/
.link_info{text-align:center;}
.link_info h2{width:70%;margin:0 auto 10px;}
.btn_link{
  width:200px;
  height:40px;
  background:url("../img/bg_btn_link.png") 0 0 no-repeat;
  margin:5px auto;
  color:#702f00;
  font-size:18px;
  line-height:40px;
  transition:all .25s linear;
}
.btn_link:hover{
 background:url("../img/bg_btn_link_active.png") 0 0 no-repeat;
}
.btn_link_active{
   width:200px;
  height:40px;
  background:url("../img/bg_btn_link_active.png") 0 0 no-repeat;
  margin:5px auto;
  color:#702f00;
  font-size:18px;
  line-height:40px;
}
/*文章區塊*/
.article_list{margin:20px 0;}
.article_box{
  display:inline-block;
    width:240px;
    background:#f7f8f5;
    padding:10px;
    margin:0 10px 30px;
    text-align:left;
    vertical-align:top;}
.article_box img{width:240px;height:240px;}
.article_box a{color:#702f00;min-height:50px}
.article_box a:hover{color:#dd6c70;}



/*test-fx*/
[class^=test_answer] {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0
}

[class^=test_answer]:after {
    display: block;
    content: "";
    width: 140px;
    height: 130px;
    box-shadow: rgba(112, 47, 0, .5) 0 0 20px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0
}

[class^=test_answer]:hover {
    transition: background .25s linear, color .25s linear;
    -webkit-transition: background .25s linear, color .25s linear;
    -moz-transition: background .25s linear, color .25s linear;
    -o-transition: background .25s linear, color .25s linear
}

[class^=test_answer]:hover:after {
    opacity: 1;
    transition: all .25s linear, color .25s linear;
    -webkit-transition: all .25s linear, color .25s linear;
    -moz-transition: all .25s linear, color .25s linear;
    -o-transition: all .25s linear, color .25s linear;
    -webkit-transition-delay: .25s;
    -moz-transition-delay-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s
}

[class^=test_answer].animated-drop:after {
    display: none
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    18% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    24% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }
    30% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    39% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    45% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    60% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    68% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    76%,
    78% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 300px, 0);
        transform: translate3d(0, 300px, 0)
    }
}

@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    18% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    24% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }
    30% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    39% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    45% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    60% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    68% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    76%,
    78% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 300px, 0);
        transform: translate3d(0, 300px, 0)
    }
}

@-webkit-keyframes tada {
    from {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    10%,
    20% {
        opacity: 1;
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes tada {
    from {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    10%,
    20% {
        opacity: 1;
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.animated .animated-tada,
.animated-drop {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated-drop {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    z-index: 50
}

.animated .animated-tada {
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
    -webkit-animation-name: tada;
    animation-name: tada
}


.header_btn-line {
    background: url(../img/mobile/m-btn_l.png) 0 0 no-repeat;
    background-size: 40px 40px;
    outline: none;
}
.header_btn-fb {
    background: url(../img/mobile/m-btn_fb.png) 0 0 no-repeat;
    background-size: 40px 40px;
    outline: none;
}
.vote_list_article {
    word-wrap: break-word;
    word-break: break-all;
}