A:link {
    color: #0000FF;
    text-decoration: none
}
A:visited {
    color: #800080;
    text-decoration: none
}
A:active {
    text-decoration: none
}
A:hover {
    text-decoration: underline;
    color: red
}
.box {
    height: 24px;
    border-left: solid 1px #666;
    border-top: solid 1px #666;
    border-right: solid 1px #666;
    border-bottom: solid 1px #666;
}
BODY {
    FONT-SIZE: 8pt;
    COLOR: #000000;
    BACKGROUND-REPEAT: repeat;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
TD {
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
SPAN.nadpis {
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD.bottom {
    FONT-SIZE: 7pt;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.text8 {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    LINE-HEIGHT: 12pt;
}
.text10 {
    font-size: 12px;
    LINE-HEIGHT: 16pt;
    font-style: normal;
    font-family: "Arial", "Helvetica", "sans-serif"
}
.text14 {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    LINE-HEIGHT: 14pt;
}
.text16 {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    LINE-HEIGHT: 16pt;
}
.text18 {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    LINE-HEIGHT: 18pt;
}
.font9 {
    font-size: 12px;
    LINE-HEIGHT: 14pt;
    font-style: normal;
    font-family: "Arial", "Helvetica", "sans-serif"
}
.prebox {
    margin: 10px 20px 10px 20px;
    color: #333;
    border: #666 1px solid;
    background-color: #eee;
    padding: 0px 10px;
    font-family: "Courier New", Courier, monospace;
    line-height: 135%;
}
.tbl {
    word-break: break-all;
}
.mboard_comment {
    WIDTH: 650px;
    OVERFLOW: hidden;
    WORD-WRAP: break-word
}
.mboard_comment4 {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    LINE-HEIGHT: 16pt;
    WIDTH: 538px;
    OVERFLOW: hidden;
    WORD-WRAP: break-word
}
.forum_title {
    font-size: 15px;
    color: #119ada;
}
.forum_list {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #c7cc9e;
}
.forum_content {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #c7cc9e;
}
.headline {
    font-size: 12px;
    font-weight: bold;
    color: #ff3a3a;
}
.headline a {
    text-decoration: none;
    color: #ff3a3a;
}
.headline a:hover {
    text-decoration: underline;
    color: #ff3a3a;
}
.headline a:visited {
    text-decoration: none;
    color: #ff3a3a;
}
#sright {
    PADDING-RIGHT: 5px;
    FONT-SIZE: 10px;
    FLOAT: right;
    COLOR: #999999;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: right
}
.num1 {
    PADDING-LEFT: 12px;
    BACKGROUND: url(/img/bb_map.gif) no-repeat 0px 0px;
    HEIGHT: 21px;
    TEXT-ALIGN: left
}
.num2 {
    PADDING-LEFT: 12px;
    BACKGROUND: url(/img/bb_map.gif) no-repeat 0px -21px;
    HEIGHT: 21px;
    TEXT-ALIGN: left
}
.num3 {
    PADDING-LEFT: 12px;
    BACKGROUND: url(/img/bb_map.gif) no-repeat 0px -42px;
    HEIGHT: 21px;
    TEXT-ALIGN: left
}
.num4 {
    PADDING-LEFT: 12px;
    BACKGROUND: url(/img/bb_map.gif) no-repeat 0px -63px;
    HEIGHT: 21px;
    TEXT-ALIGN: left
}
.num5 {
    PADDING-LEFT: 12px;
    BACKGROUND: url(/img/bb_map.gif) no-repeat 0px -84px;
    HEIGHT: 21px;
    TEXT-ALIGN: left
}
.num6 {
    PADDING-LEFT: 12px;
    BACKGROUND: url(/img/bb_map.gif) no-repeat 0px -105px;
    HEIGHT: 21px;
    TEXT-ALIGN: left
}
.num7 {
    PADDING-LEFT: 12px;
    BACKGROUND: url(/img/bb_map.gif) no-repeat 0px -126px;
    HEIGHT: 21px;
    TEXT-ALIGN: left
}
.num8 {
    PADDING-LEFT: 12px;
    BACKGROUND: url(/img/bb_map.gif) no-repeat 0px -147px;
    HEIGHT: 21px;
    TEXT-ALIGN: left
}
.num9 {
    PADDING-LEFT: 12px;
    BACKGROUND: url(/img/bb_map.gif) no-repeat 0px -168px;
    HEIGHT: 21px;
    TEXT-ALIGN: left
}
.num10 {
    PADDING-LEFT: 12px;
    BACKGROUND: url(/img/bb_map.gif) no-repeat 0px -189px;
    HEIGHT: 21px;
    TEXT-ALIGN: left
}
//2015-01-07 æ–°å¢žéºµåŒ…å±‘ä½¿ç”¨
.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}
.clearfix:after {
    clear: both
}
.breadcrumb-opt {
    font-size: 13px;
}
.breadcrumb-opt a {
    color: #06c;
    text-decoration: none;
}
.breadcrumb-opt a:hover {
    color: #f00;
    text-decoration: underline;
}
.breadcrumb-opt *, .breadcrumb-opt *:before, .breadcrumb-opt *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.breadcrumb-opt ul, .breadcrumb-opt ol {
    margin: 0;
}
.breadcrumb-opt .breadcrumb {
    margin: 0;
    padding: 6px 0 6px 10px;
    color: #666;
    list-style: none;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb li {
    *display: inline;
    zoom: 1;
    *margin-right: 8px;
}
.breadcrumb-opt .breadcrumb>li+li:before {
    content: ">";
    color: #666;
}
.breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}
.breadcrumb .active {
    color: #666;
}
.breadcrumb-opt .member-opt {
    padding: 6px 0 6px 10px;
    margin: 0;
}
.member-opt>li {
    padding: 0;
}
.member-opt li a span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 15px;
    vertical-align: text-bottom;
    *vertical-align: baseline;
    margin-right: 3px;
    background: url(../images/new-breadcrumb-icon.png) 50px 50px no-repeat;
}
.member-opt li a span {
    *display: inline;
    zoom: 1;
}
.member-opt li a span.icon-home {
    width: 17px;
    background-position: -45px 0;
}
.member-opt li a span.icon-notice {
    width: 21px;
    background-position: 0 0;
}
.member-opt li a span.icon-notice.active {
    width: 24px;
    background-position: -21px 0;
}
.member-opt li a span.icon-memcenter {
    width: 15px;
    background-position: -63px 0;
}
.member-opt li.mai_entrance a {
    margin-left: 10px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 64px;
    height: 20px;
    background: url(../images/mai_entrance.png) 0 0 no-repeat;
    vertical-align: middle;
}
.member-opt>li.mai_entrance a:hover {
    background-position: -64px 0;
}
.breadcrumb-opt .member-opt>li:first-child:before {
    content: "";
    display: none;
}
.breadcrumb-opt .member-opt>li:before {
    content: "|";
    margin-right: 6px;
    color: #999;
}
.breadcrumb-opt .member-opt>li.mai_entrance:before {
    content: "";
    display: none;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.list-inline >li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.list-inline li {
    *display: inline;
    zoom: 1;
    *margin-left: 8px;
}
/* 2014.12.23 footer_banner_test-ç§‰æ­£ */

#footer_banner {
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 9998;
}
#footer_banner:after {
    content: "";
    display: block;
    background: #000;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px
}
#footer_banner #footer_box {
    width: 990px;
    margin: 0 auto;
    position: relative;
    z-index: 2
}
#footer_banner #footer_pic {
    z-index: 1
}
#footer_banner #footer_banner_close {
    z-index: 2;
    background: white;
    opacity: .5;
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #000;
    padding: 2px
}
