
/* RESET */
.clear{
	clear:both;}
/*彈出視窗*/
.exitfrom{
	width: 100%;
	border-radius: 20px 20px 0 0;
	border: 2px solid #FFFFFF;
	background-color:#FFFFFF;
}
.exitfrom-dropback.fade {
    visibility: hidden;
    background: rgba(0, 0, 0, .8);
}
.exitfrom-dropback.affix {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.exitfrom-dropback.fade.in {
  visibility: visible;
  z-index: 99900;
}

.exitfrom.affix {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  -moz-transform: translateY(510px);
  -webkit-transform: translateY(510px);
  -o-transform: translateY(510px);
  -ms-transform: translateY(510px);
  transform: translateY(510px);
}
.exitfrom.fade {
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.exitfrom.fade.in {
  opcity: 1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  z-index: 99901;
}
.exitfrom.fade.in.min-height {
  -moz-transform: translateY(610px);
  -webkit-transform: translateY(610px);
  -o-transform: translateY(610px);
  -ms-transform: translateY(610px);
  transform: translateY(610px);
}
.exitfrom.fade.in.min-height .minify:before {
  content: "\e91f";
}
.exitfrom .minify {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: white;
  padding: 0;
  line-height: 30px;
}
.exitfrom .minify:hover {
  background: #f2f2f2;
}
.exitfrom .minify:focus,
.exitfrom .minify:active {
  box-shadow: none;
}
.exitfrom .minify:before {
  content: "\e91a";
  font-family: 'bbhiocn';
  font-size: 28px;
  line-height: 30px;
}




.exitfrom .tittle{
	background-color:#ffa0a0;
	border-radius: 20px 20px 0 0;
	background-image:url(../img/flower_bg.png);}
.exitfrom .tittle p{
	line-height: 50px;
	color: #FFFFFF;
	font-size: 26px;
	font-weight: bold;
	text-align:center;
}
.exitfrom .text{
	list-style: decimal;
	padding: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	line-height: 25px;
}
.exitfrom .text li {
    margin-left: 15px;
}
.exitfrom .text img{
	line-height: 25px;
	vertical-align: text-bottom;
}

.exitfrom .task:nth-child(even){background-color:#f9f7e5;}
.exitfrom .list {
    padding: 0 10px;
}
.exitfrom .list .CC{
	margin:5px;
	float:left;}
.exitfrom .list .CC img{
	width:30px;
	height:auto;
	}	
.exitfrom .list .SS{
	color: #4a92ca;
	margin-left: 10px;
	line-height: 40px;
	float: left;
	font-weight: bold;
}